@model AddAdminViewModel

@{
    ViewData["Title"] = "AddAdmin";
}

<h2>AddAdmin</h2>

<div>
    @using (Html.BeginForm("AddAdmin", "Users", FormMethod.Post))
    {
        <section id="one" class="wrapper style2">
            <div class="inner">
                <div class="row4">
                    @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
                <button>Make User an Admin</button>
                }
            </div>
    </section>
