@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html>
<head>

    <title>@ViewData["Title"] - MacroGo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/TeamLimaLocationAPI.js"></script>

    <script type="text/javascript">

        function showLocation(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            console.log(latitude)
            console.log(longitude)
            alert("Latitude : " + latitude + " Longitude: " + longitude);
            return(latitude,longitude)
        }

        function errorHandler(err) {
            if (err.code == 1) {
                alert("Error: Access is denied!");
            } else if (err.code == 2) {
                alert("Error: Position is unavailable!");
            }
        }

        function getLocation() {

            if (navigator.geolocation) {

                //timeout at 15000 milliseconds (15 seconds)
                var options = { timeout: 15000 };
                navigator.geolocation.getCurrentPosition(showLocation, errorHandler, options);
            } else {
                alert("Sorry, browser does not support geolocation!");
            }
        }

    </script>

</head>
<body>
    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><h3><a asp-controller="Home" asp-action="Index">MacroGo</a></h3></div>
        <a href="#menu">Menu</a>

    </header>

    <!-- Nav -->
    <nav id="menu">
        @*<ul class="links">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Food" asp-action="AddFoodItem">Add Food</a></li>
            <li><a asp-area="" asp-controller="Food" asp-action="DisplayFoodItems">Display Your Items</a></li>
            <li><a asp-area="" asp-controller="Users" asp-action="Register">Register</a></li>
            <li><a asp-area="" asp-controller="Users" asp-action="Login">Login</a></li>

        </ul>*@
        @{
            if (Context.Session.GetString(SessionKeys.AdminFlag) == "1")
            {
                Html.RenderPartial("_AdminNav");
            }
            else if(Context.Session.GetString(SessionKeys.Username) != null)
            {
                Html.RenderPartial("_AuthenticatedNav");
            }
            else
            {
                Html.RenderPartial("_AnonymousNav");
            }
        }

    </nav>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/burger-bg.jpg" alt="burger">
            <div class="inner">
                <header>
                    <h2>MacroGo</h2>
                    <p>Keep your macros while out and about</p>
                </header>
            </div>
        </article>

    </section>
    @RenderBody()

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            © 2018 - MacroGo
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/TeamLimaLocationAPI.js"></script>

</body>
</html>
