USE [master]
GO
/****** Object:  Database [MacroGo]    Script Date: 12/10/2018 1:42:33 PM ******/
CREATE DATABASE [MacroGo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MacroGo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MacroGo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MacroGo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MacroGo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MacroGo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MacroGo]
GO
USE [MacroGo]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 12/10/2018 1:42:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[Food_Id] [int] IDENTITY(1,1) NOT NULL,
	[Food_Item] [varchar](255) NULL,
	[Restaurant_Id] [int] NULL,
	[Calories] [varchar](50) NULL,
	[Total_Fat_g] [varchar](50) NULL,
	[Carbohydrates_g] [varchar](50) NULL,
	[Protein_g] [varchar](50) NULL,
 CONSTRAINT [pk_foodid] PRIMARY KEY CLUSTERED 
(
	[Food_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 12/10/2018 1:42:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[Restaurant_Id] [int] IDENTITY(1,1) NOT NULL,
	[Restaurant_Name] [varchar](255) NULL,
 CONSTRAINT [pk_Restaurant_Id] PRIMARY KEY CLUSTERED 
(
	[Restaurant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_Favorites]    Script Date: 12/10/2018 1:42:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Favorites](
	[User_Id] [int] NOT NULL,
	[Restaurant_Id] [int] NOT NULL,
	[Food_Id] [int] NOT NULL,
 CONSTRAINT [pk_UserFavorites_UserId] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC,
	[Restaurant_Id] ASC,
	[Food_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/10/2018 1:42:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Is_Admin] [bit] NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Goal_Fat] [int] NULL,
	[Goal_Protein] [int] NULL,
	[Goal_Carbs] [int] NULL,
 CONSTRAINT [pk_User_Id] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([Food_Id], [Food_Item], [Restaurant_Id], [Calories], [Total_Fat_g], [Carbohydrates_g], [Protein_g]) VALUES (1, N'Barqs Root Beer', 1, N'220', N'0', N'61', N'0')
INSERT [dbo].[Food] ([Food_Id], [Food_Item], [Restaurant_Id], [Calories], [Total_Fat_g], [Carbohydrates_g], [Protein_g]) VALUES (2, N'Capri Sun 100 Apple Juice', 1, N'80', N'0', N'20', N'0')
INSERT [dbo].[Food] ([Food_Id], [Food_Item], [Restaurant_Id], [Calories], [Total_Fat_g], [Carbohydrates_g], [Protein_g]) VALUES (3, N'Cherry Coke', 1, N'200', N'0', N'56', N'0')
GO
SET IDENTITY_INSERT [dbo].[Food] OFF
SET IDENTITY_INSERT [dbo].[Restaurants] ON 

INSERT [dbo].[Restaurants] ([Restaurant_Id], [Restaurant_Name]) VALUES (1, N'Burger King')
INSERT [dbo].[Restaurants] ([Restaurant_Id], [Restaurant_Name]) VALUES (2, N'Chipotle')
INSERT [dbo].[Restaurants] ([Restaurant_Id], [Restaurant_Name]) VALUES (3, N'Dominos')
SET IDENTITY_INSERT [dbo].[Restaurants] OFF
ALTER TABLE [dbo].[Food]  WITH CHECK ADD FOREIGN KEY([Restaurant_Id])
REFERENCES [dbo].[Restaurants] ([Restaurant_Id])
GO
ALTER TABLE [dbo].[User_Favorites]  WITH CHECK ADD FOREIGN KEY([Food_Id])
REFERENCES [dbo].[Food] ([Food_Id])
GO
ALTER TABLE [dbo].[User_Favorites]  WITH CHECK ADD FOREIGN KEY([Restaurant_Id])
REFERENCES [dbo].[Restaurants] ([Restaurant_Id])
GO
ALTER TABLE [dbo].[User_Favorites]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
USE [master]
GO
