@model UserandFoodItemViewModel
@{
    ViewData["Title"] = "Update Food Item";
}


<section id="one" class="wrapper style2">
    <div class="inner">
        <form asp-controller="Food" asp-action="FoodDetail" method="post">

            <label asp-for="FoodName">Food Name</label>
            <input asp-for="FoodName" />
            <label asp-for="Protein">Protein (in grams)</label>
            <input asp-for="Protein" />
            <label asp-for="Fat">Fat (in grams)</label>
            <input asp-for="Fat" />
            <label asp-for="Carbs">Carbs (in grams)</label>
            <input asp-for="Carbs" />
            <label asp-for="Calories">Calories</label>
            <input asp-for="Calories" />

            <div style="text-align:center;">
                <input type="hidden" asp-for="@Model.FoodId" />
                <input type="hidden" asp-for="@Model.RestaurantId" />
                <input type="hidden" asp-for="@Model.UserId"/>
                <button class="button button1" type="submit" asp-action="FoodDetail">Update Food</button>
                <button class="button button1" type="submit" asp-action="DeleteFoodItem">Delete Food</button>
                <button class="button button1" type="submit" asp-action="AddFoodItemToList">Add Food To Daily List</button>
                <button class="button button-1" type="submit" asp-action="RemoveFoodItemFromList">Remove Food From Daily List</button>
                <button class="=button button-1" type="submit" asp-action="AddFoodToFavorites">Add to Favorites</button>

            </div>
        </form>
    </div>
</section>

