@model FoodItemViewModel
@{
    ViewData["Title"] = "Update Food Item";
}

<h2>Menu Item Detail</h2>

<form asp-controller="Home" asp-action="FoodDetail" method="post">

    <label asp-for="FoodName">Food Name</label>
    <input asp-for="FoodName" />
    <label asp-for="Protein">Protein (in grams)</label>
    <input asp-for="Protein" />
    <label asp-for="Fat">Fat (in grams)</label>
    <input asp-for="Fat" />
    <label asp-for="Carbs">Carbs (in grams)</label>
    <input asp-for="Carbs" />
    <label asp-for="Calories">Calories</label>
    <input asp-for="Calories" />
    
    <div style="text-align:center;">
        <input type="hidden" asp-for="@Model.FoodId" />
        <input type="hidden" asp-for="@Model.RestaurantId" />
        <button class="button button1" type="submit">Update Food</button>

        <button class="button button1" type="submit" asp-action="DeleteFoodItem">Delete Food</button>
    </div>

</form>


