@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Yes, this loads the home page - but that's about all.</h2>
        </div>
    </div>
</div>
