@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container">
    <div class="row">*@
<section id="one" class="wrapper style2">
    <div class="inner">
        <form asp-controller="home" asp-action="Result" method="get">
            <label asp-for="MinCarbs">Min Carbs: </label>
            <input id="minCarbs" asp-for="MinCarbs" />
            <label asp-for="MaxCarbs">Max Carbs: </label>
            <input id="maxCarbs" asp-for="MaxCarbs" />
            <label asp-for="MinProtein">Min Protein: </label>
            <input id="minProtein" asp-for="MinProtein" />
            <label asp-for="MaxProtein">Max Protein: </label>
            <input id="maxProtein" asp-for="MaxProtein" />
            <label asp-for="MinFat">Min Fat: </label>
            <input id="minFat" asp-for="MinFat" />
            <label asp-for="MaxFat">Max Fat: </label>
            <input id="maxFat" asp-for="MaxFat" />

            <label asp-for="RestaurantChosen">Filter by Restaurant </label>
            <select id="restaurant" asp-for="RestaurantChosen" asp-items="Model.RestaurantSelect"></select>
            <label asp-for="FilterCountSelect"># of results: </label>
            <select id="filter" asp-for="FilterCountSelect" asp-items="Model.FilterCount"></select>
            <label asp-for="OrderbySelect">Order by 1: </label>
            <select asp-for="OrderbySelect" asp-items="Model.OrderBy"></select>
            <label asp-for="SearchRadius">Search Radius (Miles): </label>
            <select id="filter" asp-for="SearchRadius" asp-items="Model.SearchRadiusSelection"></select>
            
            <input asp-for="LocationAssent" type="checkbox" name="LocationAssent" id="LocationAssent" value="false">Location?<br>

            @*<label asp-for="OrderbySelect2">Order by 2: </label>
            <select asp-for="OrderbySelect2" asp-items="Model.OrderbyLevel2"></select>
            <label asp-for="OrderbySelect3">Order by 3: </label>
            <select asp-for="OrderbySelect3" asp-items="Model.OrderbyLevel3"></select>*@

            <input id="submitButton" type="submit" value="Submit" />
            <script src="~/Scripts/TeamLimaLocationAPI.js"></script>
        </form>
    </div>
</section>
