@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Search</h2>
<section id="one" class="wrapper style2">
    <div class="inner">
        <form asp-controller="home" asp-action="Result" method="get">
            <div class="row1">
                <label asp-for="MinCarbs">Min Carbs:&ensp;</label>
                <input id="minCarbs" asp-for="MinCarbs" />
                <label asp-for="MaxCarbs">Max Carbs: &ensp;</label>
                <input id="maxCarbs" asp-for="MaxCarbs" />
            </div>
            <div class="row2">
                <label asp-for="MinProtein">Min Protein: </label>
                <input id="minProtein" asp-for="MinProtein" />
                <label asp-for="MaxProtein">Max Protein: </label>
                <input id="maxProtein" asp-for="MaxProtein" />
            </div>
            <div class="row3">
                <label asp-for="MinFat">Min Fat: &emsp; &ensp;</label>
                <input id="minFat" asp-for="MinFat" />
                <label asp-for="MaxFat">Max Fat: &emsp;&ensp;</label>
                <input id="maxFat" asp-for="MaxFat" />
            </div>

            <div class="row4">
                <label asp-for="RestaurantChosen">Filter by Restaurant </label>
                <select id="restaurant" asp-for="RestaurantChosen" asp-items="Model.RestaurantSelect"></select>
            </div>

            <div class="row4">
                <label asp-for="FilterCountSelect"># of results: </label>
                <select id="filter" asp-for="FilterCountSelect" asp-items="Model.FilterCount"></select>
            </div>

            <div class="row4">
                <label asp-for="OrderbySelect">Order by 1: </label>
                <select asp-for="OrderbySelect" asp-items="Model.OrderBy"></select>
            </div>


            @*<label asp-for="RestaurantChosen">Filter by Restaurant </label>
        <select id="restaurant" asp-for="RestaurantChosen" asp-items="Model.RestaurantSelect"></select>
        <label asp-for="FilterCountSelect"># of results: </label>
        <select id="filter" asp-for="FilterCountSelect" asp-items="Model.FilterCount"></select>
            <label asp-for="OrderbySelect">Order by 1: </label>
            <select asp-for="OrderbySelect" asp-items="Model.OrderBy"></select>*@
            @*Future radius search and get location*@
            @*<label asp-for="SearchRadius">Search Radius (Miles): </label>
        <select id="radius" asp-for="SearchRadius" asp-items="Model.SearchRadiusSelection"></select>
        <label asp-for="LocationAssent">Share location to customize results? </label>
        <select id="location" asp-for="LocationAssent" asp-items="Model.LocationAssentSelection"></select>*@

            @*<label asp-for="OrderbySelect2">Order by 2: </label>
        <select asp-for="OrderbySelect2" asp-items="Model.OrderbyLevel2"></select>
        <label asp-for="OrderbySelect3">Order by 3: </label>
        <select asp-for="OrderbySelect3" asp-items="Model.OrderbyLevel3"></select>*@

            @*Future radius search and get location*@
            @*<input id="submitButton" type="submit" value="Submit" />
        <script src="~/js/TeamLimaLocationAPI.js"></script>


        <input type="button" id="locationbutton" onclick="getLocation();" value="Get Location" />*@


            <div style="text-align:center;">
                <input id="button button1" type="submit" value="Search" />
            </div>


        </form>

        @*<p><button onclick="geoFindMe()">Show my location</button></p>
        <div id="out"></div>*@



        <script src="~/js/TeamLimaLocationAPI.js"></script>

        

        @*<input asp-for="LocationAssent" type="checkbox" name="LocationAssent" id="LocationAssent" value="false">Location?<br>*@

    </div>
</section>
